.container {
  border: 1px solid #fff;
  width: 90%;
  margin: 25px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.form {
  display: flex;
  margin: 25px;
  justify-content: space-around;
  align-items: center;
}

.form > div {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 10px;
}

.form input,
.form select {
  padding: 5px;
  font-size: 24px;
}

.form input[type="text"] {
  width: 200px;
}

.form select {
  cursor: pointer;
}
