.container {
  width: 95%;
  padding: 10px;
  border: 1px solid #fff;
  border-top: none;
  margin-bottom: 7.5px;
  margin-top: -0px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
}

.container p {
  margin: 0 auto;
}
